@import "tailwindcss";

@theme {
  --color-primary: #ffd600;
  --color-text: #000000;
  --color-link: #1e88e5;
  --color-danger: #e53935;
  --color-bg: #f5f5f5;

  /* Типографика */
  --text-xs: clamp(14px, 0.3vw + 0.5rem, 16px);
  --text-sm: clamp(15px, 0.4vw + 0.65rem, 17px);
  --text-md: clamp(17px, 0.7vw + 0.75rem, 21px);
}

@layer base {
  html {
    font-size: clamp(15px, 0.9vw + 0.5rem, 18px);
  }

  body {
    font-family: var(--font-sans);
    color: var(--color-text);
    background-color: white;
  }

  a {
    color: var(--color-text);
    transition: color 0.2s ease;
  }

  a:hover {
    color: var(--color-danger);
  }

  .font-display {
    font-family: "Urbanist", serif;
  }

  .text-xs-fluid {
    font-size: var(--text-xs);
  }

  .text-sm-fluid {
    font-size: var(--text-sm);
  }

  .text-md-fluid {
    font-size: var(--text-md);
    font-weight: 700;
  }
}

@layer utilities {
  .hover-scale {
    @apply transition-transform duration-200 ease-in-out hover:scale-105;
  }
}
